#root {
	margin: 0 auto;
	text-align: center;
}

p {
	padding: 0;
	margin: 0;
}


#color-info {
	min-width: 16ch;
	border-radius: 5px;
}

#color-info p {
	font-size: large;
}

#color-preview {
	height: 3em;
	border-radius: 3px;
}

.spacer {
	margin-top: 10px;
}

.cc-view {
	white-space: pre-wrap;
	text-align: left;
	font-size: 1.25em;
	user-select: none;
}

.cc-view input {
	outline: none;
	border: none;
	background-color: transparent;
	width: 3.5em;
	font-size: 1em;
	transition: 0.2s;
	padding-top: 3px;
    padding-left: 5px;

}

.cc-view input:focus {
	box-shadow: 0px 0px 0px 1px var(--accent-color) inset;
	border-radius: 5px;
}


#color-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 2rem;
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
}

#left-panel,
#right-panel {
	flex: 0 0 auto;
	min-width: 300px;
	position: relative;
}

#color-picker-wrapper {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyable {
	transition: 0.2s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: right;

}

.copyable:hover {
	color: var(--accent-color)
}

.copyable>.icon {
	margin-left: 10px;
	width: 0.9em;
	height: 0.9em;
	mask-size: cover;
	mask-position: center;
	background-color: gray;
	mask-image: url('./assets/copy-paste-icon.png');
}

.icon-container {
	width: fit-content;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: 0.2s;
	margin-bottom: 5px;
}

.icon-container:hover {
	border: 1px solid var(--accent-color)
}

.icon-container:hover .eyedropper-icon {
    background-color: var(--accent-color);
}



.eyedropper-icon {
    width: 24px;
    height: 24px;
    mask-size: cover;
    mask-position: center;
    background-color: rgba(255, 255, 255, 0.87);
    mask-image: url(/src/assets/eyedropper-icon.png);
    display: block;
    margin: 5px;
	transition: 0.2s;

}

@media (prefers-color-scheme: light) {
	.eyedropper-icon {
		background-color: #242424;
    }
}



.copyable > .copy-message {
	font-size: 0.75em;
	margin-right: 1em;
	margin-top: 2px;
	color: gray;
	transition: 0.2s;
	position: relative;
    right: 3em;
    width: 0;
	user-select: none;
}

